/* Reset de CSS para asegurar consistencia entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    margin-bottom: 5px;
}

/* Estilos de cabecera */
header {
    background: linear-gradient(45deg, #35424a, #1c1f21);
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

header h1:hover {
    transform: scale(1.05);
}

/* Navegación */
nav {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1c1f21;
}

.menu-toggle {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Estilos para el menú móvil */
.menu-toggle.active + nav {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #35424a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilos para imágenes */
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

/* Estilos para el pie de página */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Estilos responsivos */
@media (min-width: 769px) {
    nav {
        display: block;
        position: relative;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 15px;
    }

    .menu-toggle {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}
